__pychace__/
*.py[cod]
*$py.class

build/
dist/
sdist/
wheels/
eggs/
.eggs/
.idea/
*.egg-info/
*.egg
.mypy_cache/
.cache

.venv/
venv*/
.vscode/

dask-worker-space/*
.pre-commit-config.yaml

*.o
scaler/io/cpp/cpp.cpp
scaler/io/cpp/CMakeFiles
scaler/io/cpp/example
scaler/io/cpp/Makefile
benchmark.py
benches/**
*.so
*.out
.DS_Store
scaler/CMakeFiles
CMakeCache.txt
cmake_install.cmake
