name: Publish Python package to PyPI

on:
  release:
    types: [created]

permissions:
  contents: read

jobs:
  deploy:
    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    environment: release
    strategy:
      matrix:
        os: [ubuntu-latest]
    permissions:
      id-token: write
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@0634a2670c59f64b4a01f0f96f84700a4088b9f0 # v2.12.0
        with:
          egress-policy: audit

      - name: Checkout code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: Set up Python 3.8
        uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5.6.0
        with:
          python-version: "3.8"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install build
          pip install uv
          pip install cibuildwheel==2.23.3
          uv pip install --system -r pyproject.toml

      - name: Build package
        # run: python -m build
        run: python -m cibuildwheel --output-dir wheelhouse
        env:
          CIBW_BEFORE_ALL: |
            echo "Building deps"
            yum install sudo -y;
            sudo ./scripts/download_install_dependencies.sh capnp compile
            sudo ./scripts/download_install_dependencies.sh capnp install
            sudo ./scripts/download_install_dependencies.sh boost compile
            sudo ./scripts/download_install_dependencies.sh boost install
          CIBW_BUILD: "*manylinux_x86_64"
          CIBW_SKIP: "pp*"
          CIBW_MANYLINUX_X86_64_IMAGE: "manylinux_2_28"

      - name: Build Sdist
        run: |
          python -m build --sdist
          sudo mv dist/scaler* wheelhouse/.

      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@db8f07d3871a0a180efa06b95d467625c19d5d5f # release/v1
        with:
          packages_dir: ./wheelhouse/
